@import "grid"

body
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 100;

.col
	position: relative;
	min-height: 50px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiOPP/DECAAQAFMgKYXKiUZwAAAABJRU5ErkJggg==');
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: 100% 100%;

.row
	margin: 0 0 20px;
